mixin settings-panel({ index, orientation, type, minStep, step } = settings)
  form.settings-panel(id = `panel-${index}`)
    fieldset.settings-panel__fieldset
      legend.settings-panel__fieldset-title Orientation
      div.settings-panel__fieldset-inputs-wrapper
        div.settings-panel__fieldset-input-wrapper
          input.settings-panel__input.settings-panel__input_orientation_vertical(
            type = "radio" name="orientation" id = `vertical_${index}`
            checked=(orientation==="vertical" ? "checked" : undefined))
          label.settings-panel__label.settings-panel__label_orientation_vertical(for = `vertical_${index}`) Vertical
        div.settings-panel__fieldset-input-wrapper
          input.settings-panel__input.settings-panel__input_orientation_horizontal(
            type = "radio" name="orientation" id = `horizontal_${index}`
            checked=(orientation==="horizontal" ? "checked" : undefined))
          label.settings-panel__label.settings-panel__label_orientation_horizontal(for = `horizontal_${index}`) Horizontal
    fieldset.settings-panel__fieldset
      legend.settings-panel__fieldset-title Type
      div.settings-panel__fieldset-inputs-wrapper
        div.settings-panel__fieldset-input-wrapper
          input.settings-panel__input.settings-panel__input_type_single(
            type = "radio" name="type" id = `single_${index}`
            checked=(type==="single" ? "checked" : undefined))
          label.settings-panel__label.settings-panel__label_type_single(for = `single_${index}`) Single
        div.settings-panel__fieldset-input-wrapper
          input.settings-panel__input.settings-panel__input_type_interval(type = "radio" name="type" id = `interval_${index}`
            checked=(type==="interval" ? "checked" : undefined))
          label.settings-panel__label.settings-panel__label_type_interval(for = `interval_${index}`) Interval
    fieldset.settings-panel__fieldset
      legend.settings-panel__fieldset-title Additional
      div.settings-panel__fieldset-inputs-wrapper
        div.settings-panel__fieldset-input-wrapper
          input.settings-panel__input(type = "checkbox" name="scale" id = `scale_${index}` checked)
          label.settings-panel__label(for = `scale_${index}`) Scale
        div.settings-panel__fieldset-input-wrapper
          input.settings-panel__input(type = "checkbox" name="value" id = `value_${index}` checked)
          label.settings-panel__label(for = `value_${index}`) Value
    div.settings-panel__values
      label.settings-panel__values-label MIN
        input.settings-panel__values-input.settings-panel__values-input_kind_min(type="number" name="min")
      label.settings-panel__values-label MAX
        input.settings-panel__values-input.settings-panel__values-input_kind_max(type="number" name="max")
      label.settings-panel__values-label Step
        input.settings-panel__values-input.settings-panel__values-input_kind_step(type="number" name="step" min=minStep step=step)
      div.settings-panel__current-values-wrapper
        label.settings-panel__values-label Value From
          input.settings-panel__values-input.settings-panel__values-input_kind_from(type="number" name="value1")
        label.settings-panel__values-label.settings-panel__values-label_kind_to Value To
          input.settings-panel__values-input.settings-panel__values-input_kind_to(type="number" name="value2")
